.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 474px;
  animation-duration: 1000ms;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -438px 491px 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 29px 491px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 40px auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -40px auto 60px 192px;
  padding: 0 8px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  background-image: none;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 338px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 391px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-left: 232px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -42px;
    margin-right: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 160px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 172px;
  }
}

@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}



@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -40px;
    margin-right: 70px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  width: 116px;
  animation-duration: 1000ms;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 13px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 374px;
  animation-duration: 1000ms;
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -374px 341px 0 683px;
}

.u-section-2 .u-text-4 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 114px 341px 0 683px;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  margin: -142px 0 0 633px;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  margin: 91px 0 0 633px;
}

.u-section-2 .u-icon-1 {
  height: 37px;
  width: 37px;
  animation-duration: 1000ms;
  margin: -349px auto 0 633px;
}

.u-section-2 .u-icon-2 {
  height: 37px;
  width: 37px;
  animation-duration: 1000ms;
  margin: 125px auto 60px 633px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-1 {
    width: 489px;
    height: 342px;
    margin-top: 69px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -361px;
    margin-right: 255px;
    margin-left: 569px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 140px;
    margin-right: 255px;
    margin-left: 569px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -177px;
    margin-left: 509px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 509px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -404px;
    margin-left: 509px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 147px;
    margin-left: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-2 .u-image-1 {
    width: 628px;
    height: 425px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 61px;
    margin-right: 290px;
    margin-left: 330px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 117px;
    margin-right: 282px;
    margin-left: 322px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -154px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 104px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -321px;
    margin-left: 272px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 131px;
    margin-left: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-image-1 {
    height: 365px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 47px;
    margin-right: 203px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 111px;
    margin-right: 165px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -145px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 97px;
  }

  .u-section-2 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin-top: -346px;
    margin-left: 192px;
  }

  .u-section-2 .u-icon-2 {
    height: 34px;
    width: 34px;
    margin-top: 127px;
    margin-bottom: 198px;
    margin-left: 192px;
  }
}

@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 144px;
  }

  .u-section-2 .u-image-1 {
    height: 230px;
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-right: 12px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 124px;
    margin-right: 13px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -175px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 79px;
  }

  .u-section-2 .u-icon-1 {
    height: 25px;
    width: 25px;
    margin-top: -404px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 25px;
    width: 25px;
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1698px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 45px 481px 0;
}

.u-section-3 .u-image-1 {
  width: 412px;
  height: 392px;
  animation-duration: 1000ms;
  margin: 30px 22px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -284px 570px 0 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: -296px 962px 0 0;
}

.u-section-3 .u-line-1 {
  width: 1138px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 350px auto 0 0;
}

.u-section-3 .u-text-4 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 147px 242px 0 550px;
}

.u-section-3 .u-text-5 {
  margin: 28px 1px 0 550px;
}

.u-section-3 .u-image-2 {
  width: 506px;
  height: 321px;
  animation-duration: 1000ms;
  margin: -245px auto 0 -24px;
}

.u-section-3 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 28px auto 0;
}

.u-section-3 .u-image-3 {
  width: 419px;
  height: 414px;
  object-position: 50% 53.04%;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-6 {
  margin: -249px 551px 0 0;
}

.u-section-3 .u-text-7 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -136px 551px 0 0;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0px;
  margin: 210px 0 0 auto;
}

.u-section-3 .u-text-8 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 103px 0 0 551px;
}

.u-section-3 .u-text-9 {
  margin: 28px 0 0 551px;
}

.u-section-3 .u-image-4 {
  width: 472px;
  height: 353px;
  animation-duration: 1000ms;
  margin: -225px auto 10px 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-3 .u-text-1 {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    height: 393px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -281px;
    margin-right: 445px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -343px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 351px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 69px;
    margin-right: 0;
    margin-left: 422px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 422px;
  }

  .u-section-3 .u-image-2 {
    width: 408px;
    height: 278px;
    margin-top: -191px;
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    width: 395px;
    height: 295px;
    margin-top: 20px;
    margin-right: 55px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -195px;
    margin-right: 456px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -160px;
    margin-right: 470px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 69px;
    margin-left: 422px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 422px;
  }

  .u-section-3 .u-image-4 {
    width: 358px;
    height: 245px;
    margin-top: -173px;
    margin-bottom: 29px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-3 .u-image-1 {
    width: 287px;
    height: 319px;
    margin-top: 111px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -319px;
    margin-right: 297px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -382px;
    margin-right: 360px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 352px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 38px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 14px;
    margin-left: 360px;
  }

  .u-section-3 .u-image-2 {
    width: 316px;
    height: 208px;
    margin-top: -142px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    width: 269px;
    height: 269px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -151px;
    margin-right: 259px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -158px;
    margin-right: 360px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 157px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-top: 44px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 12px;
    margin-left: 360px;
  }

  .u-section-3 .u-image-4 {
    width: 306px;
    height: 229px;
    margin-top: -190px;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2098px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 66px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -306px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 284px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 250px;
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -354px;
    margin-left: 100px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 324px;
    width: 360px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -124px;
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-top: 295px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 360px;
    margin-top: -390px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2287px;
  }

  .u-section-3 .u-text-1 {
    animation-duration: 1000ms;
    font-size: 3rem;
    width: 209px;
  }

  .u-section-3 .u-image-1 {
    height: 342px;
    width: 305px;
  }

  .u-section-3 .u-text-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-3 {
    margin-top: -472px;
  }

  .u-section-3 .u-line-1 {
    animation-duration: 1000ms;
    margin-top: 450px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    animation-duration: 1000ms;
    margin-right: 20px;
  }

  .u-section-3 .u-text-5 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 289px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    animation-duration: 1000ms;
    margin-top: 48px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -160px;
  }

  .u-section-3 .u-line-3 {
    animation-duration: 1000ms;
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    animation-duration: 1000ms;
    margin-top: 257px;
  }

  .u-section-3 .u-text-9 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-4 {
    height: 206px;
    width: 263px;
    margin-top: -384px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 621px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 2.25rem;
  width: 238px;
  margin: 83px auto 0;
}

.u-section-4 .u-text-2 {
  width: 737px;
  margin: 28px auto 0;
}

.u-section-4 .u-form-1 {
  height: 318px;
  width: 848px;
  margin: 22px auto 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-form-group-7 {
  margin-left: 0;
}

.u-section-4 .u-form-group-8 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: -57px 166px 60px 283px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: -58px 66px 89px 183px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-form-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 28px;
    margin-left: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}
@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    animation-duration: 1000ms;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    animation-duration: 1000ms;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    margin-top: -67px;
    margin-bottom: 73px;
    margin-left: 149px;
  }
}.u-section-5 {
  background-image: url("images/InShot_20201210_190917581.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 3rem;
  margin: 125px 386px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 50px auto 60px 12px;
  padding: 6px 130px 7px 128px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 330px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 85px;
    margin-right: 122px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 43px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 37px;
    margin-left: 0;
  }
}
@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}
@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-5 .u-btn-1 {
    padding-right: 118px;
    padding-left: 116px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 434px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px 955px 0 0;
}

.u-section-6 .u-text-2 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px 681px 0 274px;
}

.u-section-6 .u-text-3 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -31px 385px 0 570px;
}

.u-section-6 .u-text-4 {
  background-image: none;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px 120px 0 835px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  margin: -26px 464px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  margin: -26px auto 0 274px;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  border-style: none none solid;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  border-style: none none solid;
  margin: -26px 469px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-6 {
  border-style: none none solid;
  margin: -26px auto 0 274px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  height: 38px;
  width: 38px;
  margin: -62px auto 0 835px;
}

.u-section-6 .u-btn-7 {
  border-style: none none solid;
  margin: -32px 86px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-8 {
  border-style: none none solid;
  margin: 39px auto 0 0;
  padding: 0;
}

.u-section-6 .u-btn-9 {
  border-style: none none solid;
  margin: -26px 446px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-10 {
  border-style: none none solid;
  margin: -26px auto 0 274px;
  padding: 0;
}

.u-section-6 .u-btn-11 {
  border-style: none none solid;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-6 .u-btn-12 {
  border-style: none none solid;
  margin: -26px 440px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: -71px 263px 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: normal;
  margin: -51px 28px 0 886px;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 69px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  line-height: 25.6px;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 42px 534px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 34px;
  min-height: 16px;
  width: 193px;
  min-width: 121px;
  margin: -34px 145px 0 auto;
}

.u-section-6 .u-icon-3 {
  height: 34px;
}

.u-section-6 .u-icon-4 {
  height: 34px;
}

.u-section-6 .u-icon-5 {
  height: 34px;
}

.u-section-6 .u-icon-6 {
  height: 34px;
}

.u-section-6 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 34px -34px 34px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 755px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 570px;
    margin-left: 185px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -34px;
    margin-right: 285px;
    margin-left: 470px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 41px;
    margin-left: 714px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 364px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 185px;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 8px;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 369px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 185px;
  }

  .u-section-6 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: -61px;
    margin-left: 714px;
  }

  .u-section-6 .u-btn-7 {
    margin-right: auto;
    margin-left: 752px;
  }

  .u-section-6 .u-btn-8 {
    margin-top: 41px;
  }

  .u-section-6 .u-btn-9 {
    margin-right: 346px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 185px;
  }

  .u-section-6 .u-btn-11 {
    margin-top: 8px;
  }

  .u-section-6 .u-btn-12 {
    margin-right: 340px;
  }

  .u-section-6 .u-icon-2 {
    height: 34px;
    width: 34px;
    margin-top: -79px;
    margin-right: auto;
    margin-left: 714px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -34px;
    margin-right: 31px;
    margin-left: 752px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 41px;
    margin-right: 371px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -30px;
  }

  .u-section-6 .u-line-2 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 535px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 360px;
    margin-left: 164px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 175px;
    margin-left: 360px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 535px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 254px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 164px;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 259px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 164px;
  }

  .u-section-6 .u-icon-1 {
    height: 25px;
    width: 25px;
    margin-top: -47px;
    margin-left: 535px;
  }

  .u-section-6 .u-btn-7 {
    margin-top: -25px;
    margin-right: -16px;
    margin-left: 568px;
  }

  .u-section-6 .u-btn-8 {
    margin-top: 21px;
  }

  .u-section-6 .u-btn-9 {
    margin-right: 236px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 164px;
  }

  .u-section-6 .u-btn-11 {
    margin-top: 0;
  }

  .u-section-6 .u-btn-12 {
    margin-right: 230px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -64px;
    margin-right: 156px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 568px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    margin-top: 23px;
    margin-right: 151px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 26px;
    width: 159px;
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 25px;
    margin-right: 355px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 280px;
    margin-left: 150px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -32px;
    margin-right: 0;
    margin-left: 355px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 158px;
    margin-right: 355px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -165px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: auto;
    margin-left: 355px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 150px;
  }

  .u-section-6 .u-btn-4 {
    margin-top: -2px;
  }

  .u-section-6 .u-btn-5 {
    margin-top: -24px;
    margin-right: auto;
    margin-left: 355px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 150px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 119px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-7 {
    margin-top: -26px;
    margin-right: 320px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-8 {
    margin-top: -149px;
  }

  .u-section-6 .u-btn-9 {
    margin-top: -22px;
    margin-right: auto;
    margin-left: 355px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 150px;
  }

  .u-section-6 .u-btn-11 {
    margin-top: -4px;
  }

  .u-section-6 .u-btn-12 {
    margin-top: -22px;
    margin-right: auto;
    margin-left: 355px;
  }

  .u-section-6 .u-icon-2 {
    height: 25px;
    width: 25px;
    margin-top: 98px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: -28px;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-6 .u-line-1 {
    margin-top: -108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 141px;
    margin-right: 188px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -38px;
    margin-right: 30px;
  }

  .u-section-6 .u-line-2 {
    margin-top: -48px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 641px) {
  .u-section-1 .u-btn-1 {
    width: 100%;
    margin: auto;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
     margin: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-6 .u-text-1 {
    animation-duration: 1000ms;
    margin-top: 31px;
    margin-right: 155px;
  }

  .u-section-6 .u-text-2 {
    animation-duration: 1000ms;
    margin-right: 56px;
    margin-left: 170px;
  }

  .u-section-6 .u-text-3 {
    animation-duration: 1000ms;
    margin-top: 143px;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    animation-duration: 1000ms;
    margin-top: -34px;
    margin-right: -14px;
    margin-left: 170px;
  }

  .u-section-6 .u-btn-1 {
    animation-duration: 1000ms;
    margin-top: -168px;
  }

  .u-section-6 .u-btn-2 {
    animation-duration: 1000ms;
    margin-top: 177px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    animation-duration: 1000ms;
    margin-top: -229px;
    margin-left: 170px;
  }

  .u-section-6 .u-btn-4 {
    animation-duration: 1000ms;
    margin-top: 0;
  }

  .u-section-6 .u-btn-5 {
    animation-duration: 1000ms;
    margin-top: 124px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-6 {
    animation-duration: 1000ms;
    margin-top: -177px;
    margin-left: 170px;
  }

  .u-section-6 .u-icon-1 {
    height: 19px;
    width: 19px;
    margin-top: 128px;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-7 {
    animation-duration: 1000ms;
    margin-top: -23px;
    margin-right: -28px;
  }

  .u-section-6 .u-btn-8 {
    animation-duration: 1000ms;
    margin-top: -150px;
  }

  .u-section-6 .u-btn-9 {
    animation-duration: 1000ms;
    margin-top: 146px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-10 {
    animation-duration: 1000ms;
    margin-top: -199px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-btn-11 {
    animation-duration: 1000ms;
    margin-top: 0;
  }

  .u-section-6 .u-btn-12 {
    animation-duration: 1000ms;
    margin-top: 145px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-2 {
    height: 23px;
    width: 23px;
    margin-top: -55px;
    margin-right: 147px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    animation-duration: 1000ms;
    margin-top: -33px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-6 .u-line-1 {
    margin-top: -194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 230px;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    width: 161px;
    animation-duration: 1000ms;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 82px;
  }

  .u-section-6 .u-line-2 {
    margin-top: -86px;
    margin-right: initial;
    margin-left: initial;
  }
}html,body{
  width: 100%;
  margin: 0px;
  padding: auto;
	overflow-x: hidden;
}
.sub_container_div{ width: auto;max-width: 25em }